$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";
$White: #ffffff;
$Brown: #cda45e;
$Gray: #eee;
$Dark-Gray: #aaaaaa;
$Bg-color1: #0c0b09;
$Bg-color2: #1a1814;
$blackbackground: rgb(0, 0, 0);
$lightblackbackground: rgb(12, 11, 9);
$hover: #d3af71;

$color1: rgb(255, 255, 255);
$color2: #cda45e;
$color3: #eee;
$color4: #0c0b09;
$blackbackground: rgb(0, 0, 0);
$color5: #aaaaaa;
$color6: rgb(26, 24, 20);
$lightblackbackground: rgb(12, 11, 9);
$duration: 1s;
$textboxtborder: #625b4b;
$hover: #d3af71;
